<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>peyzhang</title>

    <style>
        h1{
            color:greenyellow;
            text-align:center;
        }
    </style>
</head>
<body>

<h1>RAORAO BABY</h1>

<div class="responsive">
    <div class="img">
<!--        <a target="_blank" href="http://static.runoob.com/images/demo/demo1.jpg">-->
        <a target="_blank" href="/image/dog.png">
            <img loading="lazy" src="/image/dog.png" alt="图片文本描述" width="300" height="200">
        </a>
        <div class="desc">You have school and friends, but for me, it's all about you.</div>
    </div>
</div>

</div>
</body>
</html>

